@font-face {
	font-family:'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight:normal;
	font-style:normal;
}

[class^="im-"],
[class*=" im-"],
[class^="im-"]:before,
[class*=" im-"]:before {
	display:inline-block;
	font-family:'icomoon';
	font-style:normal;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.im-home:before {
	content:"\e600";
}
.im-home2:before {
	content:"\e601";
}
.im-home3:before {
	content:"\e602";
}
.im-office:before {
	content:"\e603";
}
.im-newspaper:before {
	content:"\e604";
}
.im-pencil:before {
	content:"\e605";
}
.im-pencil2:before {
	content:"\e606";
}
.im-quill:before {
	content:"\e607";
}
.im-pen:before {
	content:"\e608";
}
.im-blog:before {
	content:"\e609";
}
.im-droplet:before {
	content:"\e60a";
}
.im-paint-format:before {
	content:"\e60b";
}
.im-image:before {
	content:"\e60c";
}
.im-image2:before {
	content:"\e60d";
}
.im-images:before {
	content:"\e60e";
}
.im-camera:before {
	content:"\e60f";
}
.im-music:before {
	content:"\e610";
}
.im-headphones:before {
	content:"\e611";
}
.im-play:before {
	content:"\e612";
}
.im-film:before {
	content:"\e613";
}
.im-camera2:before {
	content:"\e614";
}
.im-dice:before {
	content:"\e615";
}
.im-pacman:before {
	content:"\e616";
}
.im-spades:before {
	content:"\e617";
}
.im-clubs:before {
	content:"\e618";
}
.im-diamonds:before {
	content:"\e619";
}
.im-pawn:before {
	content:"\e61a";
}
.im-bullhorn:before {
	content:"\e61b";
}
.im-connection:before {
	content:"\e61c";
}
.im-podcast:before {
	content:"\e61d";
}
.im-feed:before {
	content:"\e61e";
}
.im-book:before {
	content:"\e61f";
}
.im-books:before {
	content:"\e620";
}
.im-library:before {
	content:"\e621";
}
.im-file:before {
	content:"\e622";
}
.im-profile:before {
	content:"\e623";
}
.im-file2:before {
	content:"\e624";
}
.im-file3:before {
	content:"\e625";
}
.im-file4:before {
	content:"\e626";
}
.im-IcoMoon:before {
	content:"\e627";
}
.im-file-openoffice:before {
	content:"\e628";
}
.im-file-word:before {
	content:"\e629";
}
.im-file-excel:before {
	content:"\e62a";
}
.im-file-zip:before {
	content:"\e62b";
}
.im-copy:before {
	content:"\e62c";
}
.im-copy2:before {
	content:"\e62d";
}
.im-copy3:before {
	content:"\e62e";
}
.im-paste:before {
	content:"\e62f";
}
.im-paste2:before {
	content:"\e630";
}
.im-paste3:before {
	content:"\e631";
}
.im-stack:before {
	content:"\e632";
}
.im-folder:before {
	content:"\e633";
}
.im-folder-open:before {
	content:"\e634";
}
.im-tag:before {
	content:"\e635";
}
.im-tags:before {
	content:"\e636";
}
.im-barcode:before {
	content:"\e637";
}
.im-qrcode:before {
	content:"\e638";
}
.im-ticket:before {
	content:"\e639";
}
.im-cart:before {
	content:"\e63a";
}
.im-cart2:before {
	content:"\e63b";
}
.im-cart3:before {
	content:"\e63c";
}
.im-coin:before {
	content:"\e63d";
}
.im-credit:before {
	content:"\e63e";
}
.im-calculate:before {
	content:"\e63f";
}
.im-support:before {
	content:"\e640";
}
.im-phone:before {
	content:"\e641";
}
.im-phone-hang-up:before {
	content:"\e642";
}
.im-address-book:before {
	content:"\e643";
}
.im-notebook:before {
	content:"\e644";
}
.im-envelope:before {
	content:"\e645";
}
.im-pushpin:before {
	content:"\e646";
}
.im-location:before {
	content:"\e647";
}
.im-location2:before {
	content:"\e648";
}
.im-compass:before {
	content:"\e649";
}
.im-map:before {
	content:"\e64a";
}
.im-map2:before {
	content:"\e64b";
}
.im-history:before {
	content:"\e64c";
}
.im-clock:before {
	content:"\e64d";
}
.im-clock2:before {
	content:"\e64e";
}
.im-alarm:before {
	content:"\e64f";
}
.im-alarm2:before {
	content:"\e650";
}
.im-bell:before {
	content:"\e651";
}
.im-stopwatch:before {
	content:"\e652";
}
.im-calendar:before {
	content:"\e653";
}
.im-calendar2:before {
	content:"\e654";
}
.im-print:before {
	content:"\e655";
}
.im-keyboard:before {
	content:"\e656";
}
.im-screen:before {
	content:"\e657";
}
.im-laptop:before {
	content:"\e658";
}
.im-mobile:before {
	content:"\e659";
}
.im-mobile2:before {
	content:"\e65a";
}
.im-tablet:before {
	content:"\e65b";
}
.im-tv:before {
	content:"\e65c";
}
.im-cabinet:before {
	content:"\e65d";
}
.im-drawer:before {
	content:"\e65e";
}
.im-drawer2:before {
	content:"\e65f";
}
.im-drawer3:before {
	content:"\e660";
}
.im-box-add:before {
	content:"\e661";
}
.im-box-remove:before {
	content:"\e662";
}
.im-download:before {
	content:"\e663";
}
.im-upload:before {
	content:"\e664";
}
.im-disk:before {
	content:"\e665";
}
.im-storage:before {
	content:"\e666";
}
.im-undo:before {
	content:"\e667";
}
.im-redo:before {
	content:"\e668";
}
.im-flip:before {
	content:"\e669";
}
.im-flip2:before {
	content:"\e66a";
}
.im-undo2:before {
	content:"\e66b";
}
.im-redo2:before {
	content:"\e66c";
}
.im-forward:before {
	content:"\e66d";
}
.im-reply:before {
	content:"\e66e";
}
.im-bubble:before {
	content:"\e66f";
}
.im-bubbles:before {
	content:"\e670";
}
.im-bubbles2:before {
	content:"\e671";
}
.im-bubble2:before {
	content:"\e672";
}
.im-bubbles3:before {
	content:"\e673";
}
.im-bubbles4:before {
	content:"\e674";
}
.im-user:before {
	content:"\e675";
}
.im-users:before {
	content:"\e676";
}
.im-user2:before {
	content:"\e677";
}
.im-users2:before {
	content:"\e678";
}
.im-user3:before {
	content:"\e679";
}
.im-user4:before {
	content:"\e67a";
}
.im-quotes-left:before {
	content:"\e67b";
}
.im-busy:before {
	content:"\e67c";
}
.im-spinner:before {
	content:"\e67d";
}
.im-spinner2:before {
	content:"\e67e";
}
.im-spinner3:before {
	content:"\e67f";
}
.im-spinner4:before {
	content:"\e680";
}
.im-spinner5:before {
	content:"\e681";
}
.im-spinner6:before {
	content:"\e682";
}
.im-binoculars:before {
	content:"\e683";
}
.im-search:before {
	content:"\e684";
}
.im-zoomin:before {
	content:"\e685";
}
.im-zoomout:before {
	content:"\e686";
}
.im-expand:before {
	content:"\e687";
}
.im-contract:before {
	content:"\e688";
}
.im-expand2:before {
	content:"\e689";
}
.im-contract2:before {
	content:"\e68a";
}
.im-key:before {
	content:"\e68b";
}
.im-key2:before {
	content:"\e68c";
}
.im-lock:before {
	content:"\e68d";
}
.im-lock2:before {
	content:"\e68e";
}
.im-unlocked:before {
	content:"\e68f";
}
.im-wrench:before {
	content:"\e690";
}
.im-settings:before {
	content:"\e691";
}
.im-equalizer:before {
	content:"\e692";
}
.im-cog:before {
	content:"\e693";
}
.im-cogs:before {
	content:"\e694";
}
.im-cog2:before {
	content:"\e695";
}
.im-hammer:before {
	content:"\e696";
}
.im-wand:before {
	content:"\e697";
}
.im-aid:before {
	content:"\e698";
}
.im-bug:before {
	content:"\e699";
}
.im-pie:before {
	content:"\e69a";
}
.im-stats:before {
	content:"\e69b";
}
.im-bars:before {
	content:"\e69c";
}
.im-bars2:before {
	content:"\e69d";
}
.im-gift:before {
	content:"\e69e";
}
.im-trophy:before {
	content:"\e69f";
}
.im-glass:before {
	content:"\e6a0";
}
.im-mug:before {
	content:"\e6a1";
}
.im-food:before {
	content:"\e6a2";
}
.im-leaf:before {
	content:"\e6a3";
}
.im-rocket:before {
	content:"\e6a4";
}
.im-meter:before {
	content:"\e6a5";
}
.im-meter2:before {
	content:"\e6a6";
}
.im-dashboard:before {
	content:"\e6a7";
}
.im-hammer2:before {
	content:"\e6a8";
}
.im-fire:before {
	content:"\e6a9";
}
.im-lab:before {
	content:"\e6aa";
}
.im-magnet:before {
	content:"\e6ab";
}
.im-remove:before {
	content:"\e6ac";
}
.im-remove2:before {
	content:"\e6ad";
}
.im-briefcase:before {
	content:"\e6ae";
}
.im-airplane:before {
	content:"\e6af";
}
.im-truck:before {
	content:"\e6b0";
}
.im-road:before {
	content:"\e6b1";
}
.im-accessibility:before {
	content:"\e6b2";
}
.im-target:before {
	content:"\e6b3";
}
.im-shield:before {
	content:"\e6b4";
}
.im-lightning:before {
	content:"\e6b5";
}
.im-switch:before {
	content:"\e6b6";
}
.im-powercord:before {
	content:"\e6b7";
}
.im-signup:before {
	content:"\e6b8";
}
.im-list:before {
	content:"\e6b9";
}
.im-list2:before {
	content:"\e6ba";
}
.im-numbered-list:before {
	content:"\e6bb";
}
.im-menu:before {
	content:"\e6bc";
}
.im-menu2:before {
	content:"\e6bd";
}
.im-tree:before {
	content:"\e6be";
}
.im-cloud:before {
	content:"\e6bf";
}
.im-cloud-download:before {
	content:"\e6c0";
}
.im-cloud-upload:before {
	content:"\e6c1";
}
.im-download2:before {
	content:"\e6c2";
}
.im-upload2:before {
	content:"\e6c3";
}
.im-download3:before {
	content:"\e6c4";
}
.im-upload3:before {
	content:"\e6c5";
}
.im-globe:before {
	content:"\e6c6";
}
.im-earth:before {
	content:"\e6c7";
}
.im-link:before {
	content:"\e6c8";
}
.im-flag:before {
	content:"\e6c9";
}
.im-attachment:before {
	content:"\e6ca";
}
.im-eye:before {
	content:"\e6cb";
}
.im-eye-blocked:before {
	content:"\e6cc";
}
.im-eye2:before {
	content:"\e6cd";
}
.im-bookmark:before {
	content:"\e6ce";
}
.im-bookmarks:before {
	content:"\e6cf";
}
.im-brightness-medium:before {
	content:"\e6d0";
}
.im-brightness-contrast:before {
	content:"\e6d1";
}
.im-contrast:before {
	content:"\e6d2";
}
.im-star:before {
	content:"\e6d3";
}
.im-star2:before {
	content:"\e6d4";
}
.im-star3:before {
	content:"\e6d5";
}
.im-heart:before {
	content:"\e6d6";
}
.im-heart2:before {
	content:"\e6d7";
}
.im-heart-broken:before {
	content:"\e6d8";
}
.im-thumbs-up:before {
	content:"\e6d9";
}
.im-thumbs-up2:before {
	content:"\e6da";
}
.im-happy:before {
	content:"\e6db";
}
.im-happy2:before {
	content:"\e6dc";
}
.im-smiley:before {
	content:"\e6dd";
}
.im-smiley2:before {
	content:"\e6de";
}
.im-tongue:before {
	content:"\e6df";
}
.im-tongue2:before {
	content:"\e6e0";
}
.im-sad:before {
	content:"\e6e1";
}
.im-sad2:before {
	content:"\e6e2";
}
.im-wink:before {
	content:"\e6e3";
}
.im-wink2:before {
	content:"\e6e4";
}
.im-grin:before {
	content:"\e6e5";
}
.im-grin2:before {
	content:"\e6e6";
}
.im-cool:before {
	content:"\e6e7";
}
.im-cool2:before {
	content:"\e6e8";
}
.im-angry:before {
	content:"\e6e9";
}
.im-angry2:before {
	content:"\e6ea";
}
.im-evil:before {
	content:"\e6eb";
}
.im-evil2:before {
	content:"\e6ec";
}
.im-shocked:before {
	content:"\e6ed";
}
.im-shocked2:before {
	content:"\e6ee";
}
.im-confused:before {
	content:"\e6ef";
}
.im-confused2:before {
	content:"\e6f0";
}
.im-neutral:before {
	content:"\e6f1";
}
.im-neutral2:before {
	content:"\e6f2";
}
.im-wondering:before {
	content:"\e6f3";
}
.im-wondering2:before {
	content:"\e6f4";
}
.im-point-up:before {
	content:"\e6f5";
}
.im-point-right:before {
	content:"\e6f6";
}
.im-point-down:before {
	content:"\e6f7";
}
.im-point-left:before {
	content:"\e6f8";
}
.im-warning:before {
	content:"\e6f9";
}
.im-notification:before {
	content:"\e6fa";
}
.im-question:before {
	content:"\e6fb";
}
.im-info:before {
	content:"\e6fc";
}
.im-info2:before {
	content:"\e6fd";
}
.im-blocked:before {
	content:"\e6fe";
}
.im-cancel-circle:before {
	content:"\e6ff";
}
.im-checkmark-circle:before {
	content:"\e700";
}
.im-spam:before {
	content:"\e701";
}
.im-close:before {
	content:"\e702";
}
.im-checkmark:before {
	content:"\e703";
}
.im-checkmark2:before {
	content:"\e704";
}
.im-spell-check:before {
	content:"\e705";
}
.im-minus:before {
	content:"\e706";
}
.im-forward2:before {
	content:"\e707";
}
.im-first:before {
	content:"\e708";
}
.im-last:before {
	content:"\e709";
}
.im-previous:before {
	content:"\e70a";
}
.im-plus:before {
	content:"\e70b";
}
.im-loop:before {
	content:"\e70c";
}
.im-arrow-down:before {
	content:"\e70d";
}
.im-arrow-down-left:before {
	content:"\e70e";
}
.im-shuffle:before {
	content:"\e70f";
}
.im-arrow-up-left:before {
	content:"\e710";
}
.im-arrow-left:before {
	content:"\e711";
}
.im-arrow-up-left2:before {
	content:"\e712";
}
.im-arrow-up:before {
	content:"\e713";
}
.im-arrow-up-right:before {
	content:"\e714";
}
.im-next:before {
	content:"\e715";
}
.im-enter:before {
	content:"\e716";
}
.im-exit:before {
	content:"\e717";
}
.im-eject:before {
	content:"\e718";
}
.im-arrow-right:before {
	content:"\e719";
}
.im-arrow-up-right2:before {
	content:"\e71a";
}
.im-arrow-up2:before {
	content:"\e71b";
}
.im-arrow-right2:before {
	content:"\e71c";
}
.im-arrow-down-right:before {
	content:"\e71d";
}
.im-arrow-down2:before {
	content:"\e71e";
}
.im-arrow-down-left2:before {
	content:"\e71f";
}
.im-arrow-down3:before {
	content:"\e720";
}
.im-arrow-down-right2:before {
	content:"\e721";
}
.im-volume-high:before {
	content:"\e722";
}
.im-volume-medium:before {
	content:"\e723";
}
.im-volume-low:before {
	content:"\e724";
}
.im-stop:before {
	content:"\e725";
}
.im-pause:before {
	content:"\e726";
}
.im-play2:before {
	content:"\e727";
}
.im-backward:before {
	content:"\e728";
}
.im-forward3:before {
	content:"\e729";
}
.im-play3:before {
	content:"\e72a";
}
.im-volume-increase:before {
	content:"\e72b";
}
.im-volume-mute:before {
	content:"\e72c";
}
.im-volume-mute2:before {
	content:"\e72d";
}
.im-arrow-left2:before {
	content:"\e72e";
}
.im-arrow-up-left3:before {
	content:"\e72f";
}
.im-arrow-up3:before {
	content:"\e730";
}
.im-tab:before {
	content:"\e731";
}
.im-arrow-left3:before {
	content:"\e732";
}
.im-arrow-down-left3:before {
	content:"\e733";
}
.im-checkbox-checked:before {
	content:"\e734";
}
.im-checkbox-unchecked:before {
	content:"\e735";
}
.im-checkbox-partial:before {
	content:"\e736";
}
.im-arrow-down-right3:before {
	content:"\e737";
}
.im-arrow-right3:before {
	content:"\e738";
}
.im-arrow-up-right3:before {
	content:"\e739";
}
.im-volume-decrease:before {
	content:"\e73a";
}
.im-loop2:before {
	content:"\e73b";
}
.im-loop3:before {
	content:"\e73c";
}
.im-backward2:before {
	content:"\e73d";
}
.im-stop2:before {
	content:"\e73e";
}
.im-pause2:before {
	content:"\e73f";
}
.im-radio-checked:before {
	content:"\e740";
}
.im-table:before {
	content:"\e741";
}
.im-indent-decrease:before {
	content:"\e742";
}
.im-google-drive:before {
	content:"\e743";
}
.im-vimeo:before {
	content:"\e744";
}
.im-steam:before {
	content:"\e745";
}
.im-steam2:before {
	content:"\e746";
}
.im-github:before {
	content:"\e747";
}
.im-github2:before {
	content:"\e748";
}
.im-flickr:before {
	content:"\e749";
}
.im-flickr2:before {
	content:"\e74a";
}
.im-lanyrd:before {
	content:"\e74b";
}
.im-facebook:before {
	content:"\e74c";
}
.im-facebook2:before {
	content:"\e74d";
}
.im-facebook3:before {
	content:"\e74e";
}
.im-code:before {
	content:"\e74f";
}
.im-embed:before {
	content:"\e750";
}
.im-newtab:before {
	content:"\e751";
}
.im-table2:before {
	content:"\e752";
}
.im-insert-template:before {
	content:"\e753";
}
.im-pilcrow:before {
	content:"\e754";
}
.im-scissors:before {
	content:"\e755";
}
.im-crop:before {
	content:"\e756";
}
.im-radio-unchecked:before {
	content:"\e757";
}
.im-filter:before {
	content:"\e758";
}
.im-filter2:before {
	content:"\e759";
}
.im-font:before {
	content:"\e75a";
}
.im-text-height:before {
	content:"\e75b";
}
.im-paragraph-center:before {
	content:"\e75c";
}
.im-paragraph-left:before {
	content:"\e75d";
}
.im-righttoleft:before {
	content:"\e75e";
}
.im-lefttoright:before {
	content:"\e75f";
}
.im-console:before {
	content:"\e760";
}
.im-share:before {
	content:"\e761";
}
.im-mail:before {
	content:"\e762";
}
.im-mail2:before {
	content:"\e763";
}
.im-twitter:before {
	content:"\e764";
}
.im-twitter2:before {
	content:"\e765";
}
.im-twitter3:before {
	content:"\e766";
}
.im-instagram:before {
	content:"\e767";
}
.im-flickr3:before {
	content:"\e768";
}
.im-flickr4:before {
	content:"\e769";
}
.im-picassa:before {
	content:"\e76a";
}
.im-picassa2:before {
	content:"\e76b";
}
.im-wordpress:before {
	content:"\e76c";
}
.im-github3:before {
	content:"\e76d";
}
.im-github4:before {
	content:"\e76e";
}
.im-github5:before {
	content:"\e76f";
}
.im-text-width:before {
	content:"\e770";
}
.im-bold:before {
	content:"\e771";
}
.im-underline:before {
	content:"\e772";
}
.im-italic:before {
	content:"\e773";
}
.im-paragraph-center2:before {
	content:"\e774";
}
.im-paragraph-left2:before {
	content:"\e775";
}
.im-paragraph-justify:before {
	content:"\e776";
}
.im-paragraph-right:before {
	content:"\e777";
}
.im-mail3:before {
	content:"\e778";
}
.im-mail4:before {
	content:"\e779";
}
.im-google:before {
	content:"\e77a";
}
.im-googleplus:before {
	content:"\e77b";
}
.im-youtube:before {
	content:"\e77c";
}
.im-feed2:before {
	content:"\e77d";
}
.im-feed3:before {
	content:"\e77e";
}
.im-feed4:before {
	content:"\e77f";
}
.im-dribbble:before {
	content:"\e780";
}
.im-dribbble2:before {
	content:"\e781";
}
.im-dribbble3:before {
	content:"\e782";
}
.im-forrst:before {
	content:"\e783";
}
.im-blogger:before {
	content:"\e784";
}
.im-blogger2:before {
	content:"\e785";
}
.im-joomla:before {
	content:"\e786";
}
.im-wordpress2:before {
	content:"\e787";
}
.im-tumblr:before {
	content:"\e788";
}
.im-tumblr2:before {
	content:"\e789";
}
.im-yahoo:before {
	content:"\e78a";
}
.im-deviantart:before {
	content:"\e78b";
}
.im-deviantart2:before {
	content:"\e78c";
}
.im-forrst2:before {
	content:"\e78d";
}
.im-youtube2:before {
	content:"\e78e";
}
.im-vimeo2:before {
	content:"\e78f";
}
.im-vimeo22:before {
	content:"\e790";
}
.im-googleplus2:before {
	content:"\e791";
}
.im-googleplus3:before {
	content:"\e792";
}
.im-googleplus4:before {
	content:"\e793";
}
.im-paragraph-right2:before {
	content:"\e794";
}
.im-paragraph-justify2:before {
	content:"\e795";
}
.im-indent-increase:before {
	content:"\e796";
}
.im-sigma:before {
	content:"\e797";
}
.im-omega:before {
	content:"\e798";
}
.im-strikethrough:before {
	content:"\e799";
}
.im-tux:before {
	content:"\e79a";
}
.im-stumbleupon:before {
	content:"\e79b";
}
.im-stackoverflow:before {
	content:"\e79c";
}
.im-apple:before {
	content:"\e79d";
}
.im-finder:before {
	content:"\e79e";
}
.im-pinterest:before {
	content:"\e79f";
}
.im-pinterest2:before {
	content:"\e7a0";
}
.im-android:before {
	content:"\e7a1";
}
.im-windows:before {
	content:"\e7a2";
}
.im-xing:before {
	content:"\e7a3";
}
.im-file-powerpoint:before {
	content:"\e7a4";
}
.im-file-xml:before {
	content:"\e7a5";
}
.im-file-css:before {
	content:"\e7a6";
}
.im-flattr:before {
	content:"\e7a7";
}
.im-xing2:before {
	content:"\e7a8";
}
.im-windows8:before {
	content:"\e7a9";
}
.im-soundcloud:before {
	content:"\e7aa";
}
.im-soundcloud2:before {
	content:"\e7ab";
}
.im-skype:before {
	content:"\e7ac";
}
.im-foursquare:before {
	content:"\e7ad";
}
.im-foursquare2:before {
	content:"\e7ae";
}
.im-html5:before {
	content:"\e7af";
}
.im-html52:before {
	content:"\e7b0";
}
.im-css3:before {
	content:"\e7b1";
}
.im-chrome:before {
	content:"\e7b2";
}
.im-firefox:before {
	content:"\e7b3";
}
.im-IE:before {
	content:"\e7b4";
}
.im-opera:before {
	content:"\e7b5";
}
.im-safari:before {
	content:"\e7b6";
}
.im-file-pdf:before {
	content:"\e7b7";
}
.im-libreoffice:before {
	content:"\e7b8";
}
.im-delicious:before {
	content:"\e7b9";
}
.im-stumbleupon2:before {
	content:"\e7ba";
}
.im-reddit:before {
	content:"\e7bb";
}
.im-paypal:before {
	content:"\e7bc";
}
.im-paypal2:before {
	content:"\e7bd";
}
.im-linkedin:before {
	content:"\e7be";
}
.im-lastfm:before {
	content:"\e7bf";
}
.im-paypal3:before {
	content:"\e7c0";
}
.im-yelp:before {
	content:"\e7c1";
}
.im-lastfm2:before {
	content:"\e7c2";
}